<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper.MemberMapper">
	<select id="loginMember" parameterType="HashMap" resultType="board.vo.MemberVO">
		SELECT m.*,g.grade_name FROM member m,  grade_list g WHERE m.grade = g.grade AND id=#{id} AND pass=#{pass}
	</select>
	<select id="searchMember" parameterType="String" resultType="board.vo.MemberVO">
		SELECT * FROM member WHERE id=#{id}
	</select>
	<select id="memberManageSearch" parameterType="Map" resultType="board.vo.MemberVO">
		SELECT m.*,g.grade_name FROM member m, grade_list g WHERE m.grade = g.grade AND
		<choose>
			<when test="kind == 'id'">id LIKE '%'||#{search}||'%' ORDER BY id ASC </when>
			<when test="kind == 'name'">name LIKE '%'||#{search}||'%' ORDER BY name ASC </when>
			<otherwise>grade = #{search} ORDER BY grade ASC </otherwise>
		</choose>
	</select>
	
	<insert id="insertLog" parameterType="HashMap">
		INSERT INTO memberLog VALUES(TO_DATE(#{log_date},'YYYY-MM-DD HH24:MI:SS'), #{code_number}, #{message})
	</insert>
	
	<update id="updateMember" parameterType="HashMap">
		UPDATE member SET pass = #{pass}, name = #{name}, age = #{age} WHERE id = #{id}
	</update>
	<update id="memberManageUpdate" parameterType="board.vo.MemberVO">
		UPDATE member SET name = #{name} , age = #{age} , grade = #{grade} WHERE id = #{id}
	</update>
	
	<delete id="memberManageDelete" parameterType="String">
		DELETE FROM member WHERE id = #{id}
	</delete>

</mapper>